# Fichiers de configuration avec clés API
.env

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environnement virtuel
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/

# macOS
.DS_Store